*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Hedvig Letters Serif', serif;
}

/* header section */

header{
    width: 100% ;
    height: 100vh;
    background-image: url(images/Udeh\ Benjamin\ Landscape\ background.png);
    background-size: cover;
    background-position: left;
}
.head-div{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(85, 85, 85, 0.315);
    border-radius: 20px;
    position: fixed;
    width: 80%;
}

.logo{
    width: 140px;
    margin-left: 15px;
}

.logo p{
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
    font-family: "Nunito", sans-serif;
}

.logo p span{
    color: #ff9900;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff9900;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.head-text{
    margin-top: 20%;
    font-size: 30px;
}
.head-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.head-text h1 span{
    color: #ff9900;
}

/* About section */

#abt-sect{
    padding: 80px 10%;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.abt-col-1{
    flex-basis: 35%;
}
.abt-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.abt-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600px;
    color: white;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff9900;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.tab-links.active::after{
    width: 0%;
}
.tab-links.active:hover::after{
    width: 50%;
}
.tab-links.active2::after{
    width: 0%;
}
.tab-links.active2:hover::after{
    width: 50%;
}
.tab-links.active3::after{
    width: 0%;
}
.tab-links.active3:hover::after{
    width: 50%;
}

.tab-content ul li{
    list-style-type: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #ff9900c9;
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/* Services Section */

#srv-sect{
    padding: 30px 10%;
}
.srv-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.srv-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
}
.srv-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.srv-list div h2{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
}
.srv-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.srv-list div:hover{
    background-color: #ff9900;
    transform: translateY(-10px);
}

/* My Work Section */

#work-sect{
    padding: 50px 10%;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    border-radius: 10px;
    width: 100%;
    display: inline;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff9900);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.layer p{
    font-size: 12px;
    font-weight: 500;
}
.layer a{
    margin-top: 20px;
    color: #ff9900;
    text-decoration: none;
    line-height: 60px;
    font-size: 14px;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #ff9900;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff9900;
}

/* Contact Section */

#cnt-sect{
    padding: 50px 10%;
}

.cnt-left{
    flex-basis: 35%;
}
.cnt-right{
    flex-basis: 60%;
}
.cnt-left p{
    margin-top: 30px;
    color: #ababab;
}
.cnt-left p i{
    color: #ff9900;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff9900;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff9900;
}

.cnt-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* footer section */

.copyright{
    width: 100%;
    background: #262626;
    color: #ababab;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}


/* css for small screen */
nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 900px) {
    header{
        background-image: url(images/Udeh_Benjamin-removebg-preview.png);
    }
    .head-text{
        margin-top: 70%;
        font-size: 16px;
    }
    .head-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        margin-right: 20px;
    }
    nav ul{
        background: #ff9900;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;

    }
    .abt-col-1, .abt-col-2{
        flex-basis: 100%;
    }
    .abt-col-1{
        margin-bottom: 30px;
    }
    .abt-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .cnt-left, .cnt-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}


@media only screen and (max-width: 1100px) {
    header{
        background-image: url(images/Udeh_Benjamin-removebg-preview.png);
    }
}